<div layout="row" layout-align="space-between center" ng-keypress="forms.formHide($event)">
<h1>Sessions</h1>
  <div flex-xs flex-gt-xs="30">
<md-card class="card">
  <div layout="row" layout-align="space-between center">
    <div layout="column">
<md-card-title>
  <md-card-title-text>
    <span class="md-headline">Add New Session</span>
  </md-card-title>
</md-card-title-text>
</div>
<div layout="column">
<md-button class="md-fab md-primary" aria-label="Add New Form" ng-click="sessions.clearFields(); sessions.toggleForm()">
  <i class="material-icons" id="addButton">add</i>
</md-button>
</div>
</div>
</md-card>
</div>
</div>
<div layout="row" layout-align="space-between none" flex="50">
  <md-input-container class="md-block" flex-gt-sm>
    <md-button class="md-raised" ng-click="newYear = !newYear">New School Year</md-button>
  </md-input-container>
  <md-input-container ng-show="newYear">
    <label>New Year</label>
    <input type="number" ng-value="sessions.nextYear" ng-model="sessions.nextYear">
  </md-input-container>
  <md-input-container class="md-block" ng-show="newYear" flex-gt-sm>
    <md-button class="md-raised" ng-click="sessions.addYear()">Create Year</md-button>
  </md-input-container>
</div>
<div layout="row" layout-align="space-between none" flex="50">
  <md-input-container class="md-block" flex-gt-sm>
    <label>School Year</label>
    <md-select flex="50" ng-model="sessions.sessionYear.currentYear" ng-change="sessions.getYearsSessions(sessions.sessionYear.currentYear)">
      <md-option ng-repeat="year in sessions.sessionYear.uniques" ng-value="{{year.year}}">
        {{year.year}}-{{(year.year)+1}}
      </md-option>
    </md-select>
  </md-input-container>
</div>

<div layout="row" layout-align="center center" class="admin_table">
  <md-card md-whiteframe="8" flex="90">
    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
        <thead md-head md-order="sessions.query.order">
          <tr md-row>
            <th md-column class=""><span>Delete</span></th>
            <th md-column class=""><span>Edit</span></th>
            <th md-column class=""><span>View Events</span></th>
            <th md-column md-order-by="session_count" class=""><span>Session Number</span></th>
            <th md-column md-numeric md-order-by="grade" md-desc class=""><span>Grade</span></th>
            <th md-column md-numeric md-order-by="facilitator" md-desc class=""><span>Facilitator</span></th>
            <th md-column md-numeric md-order-by="day" md-desc class=""><span>Day</span></th>
            <th md-column md-numeric md-order-by="start_time" md-desc class=""><span>Start Time</span></th>
            <th md-column md-numeric md-order-by="school" md-desc class=""><span>School</span></th>
          </tr>
        </thead>

        <tbody md-body>

          <tr md-row md-auto-select="options.autoSelect" ng-repeat="session in sessions.specificYear.sessions | orderBy: sessions.query.order | limitTo: sessions.query.limit : (sessions.query.page -1) * sessions.query.limit" ng-if="run.date.dateRange === showRun.user.currentDateRange">
            <td md-cell>
              <md-button flex="45" aria-label="delete" class="md-icon-button" ng-click="sessions.confirmDelete(session)">
                <i class="material-icons">delete</i>
              </md-button>
            </td>
            <td md-cell>
              <md-button flex="45" aria-label="edit" class="md-icon-button" ng-click="sessions.editSession(session)">
                <i class="material-icons">create</i>
              </md-button>
            </td>
            <td md-cell>
              <md-button flex="45" aria-label="edit" class="md-raised admin-button" ng-click="sessions.routeToEvents(session)">
                Events
              </md-button>
            </td>
            <td md-cell class="">{{session.session_count}}</td>
            <td md-cell class="">{{session.grade}}</td>
            <td md-cell class="">{{session.facilitator}}</td>
            <td md-cell class="">{{session.day}}</td>
            <td md-cell class="">{{session.start_time | date:'hh:mm'}}</td>
            <td md-cell class="">{{session.school}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="sessions.query.limit" md-limit-options="limitOptions" md-page="sessions.query.page" md-total="{{forms.allForms.returnedForms.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
  </md-card>
</div>

</div>
<div id="form-container" ng-show="forms.form">
<ng-include src="'./views/partials/newSessionForm.html'"></ng-include>
</div>
</div>
