
<h1>Events for Session number: {{events.specificSession.events[0].session_id }}</h1>
<div layout="row" layout-align="end center" ng-keypress="events.formHide($event)">
  <div flex-xs flex-gt-xs="20">
<md-card class="card">
  <div layout="row" layout-align="space-between center">
    <div layout="column">
<md-card-title>
  <md-card-title-text>
    <span class="md-headline">Add New Form</span>
  </md-card-title>
</md-card-title-text>
</div>
<div layout="column">
<md-button class="md-fab md-primary demo-dialog-open-button" aria-label="Add New Form" ng-click="events.clearFields(); events.toggleForm()">
  <i class="material-icons" id="addButton">add</i>
</md-button>
</div>
</div>
</md-card>
</div>
</div>

<div layout="row" layout-align="center center" class="admin_table">
  <md-card md-whiteframe="8" flex="90">
    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
        <thead md-head md-order="events.query.order">
          <tr md-row>
            <th md-column class=""><span>Delete</span></th>
            <th md-column class=""><span>Edit</span></th>
            <th md-column md-order-by="meeting_count" class=""><span>Event Number</span></th>
            <th md-column md-numeric md-order-by="form_name" md-desc class=""><span>Exit-Ticket Form</span></th>
            <th md-column md-numeric md-order-by="date_form_open" md-desc class=""><span>Date Exit-Ticket Opens</span></th>
            <th md-column md-numeric md-order-by="date_form_close" md-desc class=""><span>Date Exit-Ticket Closes</span></th>
          </tr>
        </thead>
        <tbody md-body>

          <tr md-row md-auto-select="options.autoSelect" ng-repeat="event in events.specificSession.events | orderBy: events.query.order | limitTo: events.query.limit : (events.query.page -1) * events.query.limit">
            <td md-cell>
              <md-button flex="45" aria-label="delete" class="md-icon-button" ng-click="events.confirmDelete(event.id)">
                <i class="material-icons" >delete</i>
              </md-button>
            </td>
            <td md-cell>
              <md-button flex="45" aria-label="edit" class="md-icon-button" ng-click="events.editEvent(event)">
                <i class="material-icons">create</i>
              </md-button>
            </td>
            <td md-cell class="">{{event.meeting_count}}</td>
            <td md-cell class="">{{event.form_name}}</td>
            <td md-cell class="">{{event.date_form_open | date:'longDate'}}</td>
            <td md-cell class="">{{event.date_form_close | date:'longDate'}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="events.query.limit" md-limit-options="limitOptions" md-page="events.query.page" md-total="{{forms.allForms.returnedForms.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
  </md-card>

  <div id="form-container" ng-show="events.form">
  <ng-include src="'./views/partials/newEventForm.html'"></ng-include>
  </div>
</div>
