<h1>Admin Home</h1>

<div layout="row" layout-align="space-between none" flex="50">
  <md-input-container class="md-block" flex-gt-sm>
    <label>School Year</label>
    <md-select flex="50" ng-model="home.chosenYear">
      <md-option ng-repeat="year in home.sessionYear.uniques" ng-value="year.year">
        {{year.year}}
      </md-option>
    </md-select>
    <br>
    <md-button class="md-raised" ng-click="home.getYearsTickets(home.chosenYear)">Display Sessions</md-button>
  </md-input-container>
</div>

<div layout="row" layout-align="center center" class="admin_table">
  <md-card md-whiteframe="8" flex="90">
    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
        <thead md-head md-order="home.query.order">
          <tr md-row>
            <th md-column md-order-by="lname" class=""><span>Coach Name</span></th>
            <th md-column md-order-by="session_id" class=""><span>Coach Session</span></th>
            <th md-column md-order-by="date_form_completed" class=""><span>Date Completed</span></th>
            <th md-column md-numeric md-order-by="q1_answer" md-desc class=""><span>Question 01</span></th>
            <th md-column md-order-by="q2_answer" md-desc class=""><span>Question 02</span></th>
            <th md-column md-order-by="q3_answer" md-desc class=""><span>Question 03</span></th>
            <th md-column md-order-by="q4_answer" md-desc class=""><span>Question 04</span></th>
            <th md-column md-order-by="q5_answer" md-desc class=""><span>Question 05</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-auto-select="options.autoSelect" ng-repeat="ticket in home.specificYear.tickets | orderBy: home.query.order | limitTo: home.query.limit : (home.query.page -1) * home.query.limit">
            <td md-cell class="">{{ticket.fname}} {{ticket.lname}}</td>
            <td md-cell class="">{{ticket.session_id}}</td>
            <td md-cell class="">{{ticket.date_form_completed | date:'longDate'}}</td>
            <td md-cell class="">{{ticket.q1_answer}}</td>
            <td md-cell class="">{{ticket.q2_answer}}</td>
            <td md-cell class="">{{ticket.q3_answer}}</td>
            <td md-cell class="">{{ticket.q4_answer}}</td>
            <td md-cell class="">{{ticket.q5_answer}}</td>

          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="home.query.limit" md-limit-options="limitOptions" md-page="home.query.page" md-total="{{forms.allForms.returnedForms.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
  </md-card>
</div>
