<h1>Sessions</h1>

<div layout="row" layout-align="space-between none" flex="50">
  <md-input-container class="md-block" flex-gt-sm>
    <md-button class="md-raised">New School Year</md-button>
    <!-- @Kevin: the button above has no current use; it's just a placeholder for-->
    <!-- the 'toggle panel' function -->
  </md-input-container>
  <md-input-container>
    <label>New Year</label>
    <input type="number" ng-value="sessions.nextYear" ng-model="sessions.nextYear">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <md-button class="md-raised" ng-click="sessions.addYear()">Create Year</md-button>
  </md-input-container>
</div>

<div layout="row" layout-align="space-between none" flex="50">
  <md-input-container class="md-block" flex-gt-sm>
    <label>School Year</label>
    <md-select flex="50" ng-model="sessions.chosenYear">
      <md-option ng-repeat="year in sessions.sessionYear.uniques" ng-value="year.year">
        {{year.year}}
      </md-option>
    </md-select>
    <br>

    <md-button class="md-raised md-primary" ng-click="sessions.getYearsSessions(sessions.chosenYear)">Display Sessions</md-button>
  </md-input-container>
</div>

<div layout="row" layout-align="center center">
  <md-card md-whiteframe="8" flex="90">
    <div layout="row" layout-align="space-around none">

      <md-input-container>
        <label>Session Count</label>
        <input ng-model="sessions.session_count">
      </md-input-container>

      <md-input-container ng-hide="sessions.editingSession">
        <label>Events to Add</label>
        <input ng-model="sessions.eventsToAdd" type="number" min="0" max="20">
      </md-input-container>

      <md-input-container>
        <label>Grade</label>
        <md-select ng-model="sessions.grade">
          <md-option ng-value="9"> 9 </md-option>
          <md-option ng-value="12"> 12 </md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>Facilitator</label>
        <input ng-model="sessions.facilitator">
      </md-input-container>

      <md-input-container>
        <label>Day</label>
        <md-select ng-model="sessions.day">
          <md-option ng-repeat="day in sessions.days" ng-value="day.name">
            {{day.name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>Start Time</label>
        <input type="time" ng-model="sessions.start_time">
      </md-input-container>

      <md-input-container>
        <label>School</label>
        <input ng-model="sessions.school">
      </md-input-container>

      <md-input-container>
        <md-button class="md-primary md-raised" ng-click="sessions.sendSession()">Submit</button>
      </md-input-container>
    </div>
  </md-card>
</div>



<div layout="row" layout-align="center center" class="admin_table">
  <md-card md-whiteframe="8" flex="90">
    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
        <thead md-head md-order="sessions.query.order">
          <tr md-row>
            <th md-column class=""><span>Delete</span></th>
            <th md-column class=""><span>Edit</span></th>
            <th md-column class=""><span>View Events</span></th>
            <th md-column md-order-by="session_count" class=""><span>Meeting Count</span></th>
            <th md-column md-numeric md-order-by="grade" md-desc class=""><span>Grade</span></th>
            <th md-column md-numeric md-order-by="facilitator" md-desc class=""><span>Facilitator</span></th>
            <th md-column md-numeric md-order-by="day" md-desc class=""><span>Day</span></th>
            <th md-column md-numeric md-order-by="start_time" md-desc class=""><span>Start Time</span></th>
            <th md-column md-numeric md-order-by="school" md-desc class=""><span>School</span></th>
          </tr>
        </thead>
        <tbody md-body>

          <tr md-row md-auto-select="options.autoSelect" ng-repeat="session in sessions.specificYear.sessions | orderBy: sessions.query.order | limitTo: sessions.query.limit : (sessions.query.page -1) * sessions.query.limit">
            <td md-cell>
              <md-button flex="45" aria-label="delete" class="md-raised admin-button" ng-click="sessions.confirmDelete(session)">
                Delete
              </md-button>
            </td>
            <td md-cell>
              <md-button flex="45" aria-label="edit" class="md-raised md-primary admin-button" ng-click="sessions.editSession(session)">
                Edit
              </md-button>
            </td>
            <td md-cell>
              <md-button flex="45" aria-label="edit" class="md-raised md-accent admin-button" ng-click="sessions.routeToEvents(session)">
                Events
              </md-button>
            </td>
            <td md-cell class="">{{session.session_count}}</td>
            <td md-cell class="">{{session.grade}}</td>
            <td md-cell class="">{{session.facilitator}}</td>
            <td md-cell class="">{{session.day}}</td>
            <td md-cell class="">{{session.start_time | date:'hh:mm'}}</td>
            <td md-cell class="">{{session.school}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="sessions.query.limit" md-limit-options="limitOptions" md-page="sessions.query.page" md-total="{{forms.allForms.returnedForms.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
  </md-card>
</div>
