<md-content layout="row" layout-align="center center">
  <form class="login-input" ng-submit="">
    <md-input-container>
      <label for="Create Password">Create Password</label>
      <input type="password" ng-model="user.passwordCreate"/>
    </md-input-container>
    <br>
    <md-input-container>
      <label for="Conform Password">Confirm Password</label>
      <input type="password" ng-model="user.passwordConfirm"/>
    </md-input-container>
    <div layout="row" layout-align="space-around center">
      <md-button class="md-raised md-primary" type="submit" name="submit" value="Submit">Submit</md-button>
    </div>
  </form>
</md-content>
