<md-content layout="row" layout-align="center center">
  <form class="login-input" ng-submit="login.validUser(user)">
    <md-input-container>
      <label for="fname">First Name</label>
      <input type="text" ng-model="user.fname"/>
    </md-input-container>
    <br>
    <md-input-container>
      <label for="lname">Last Name</label>
      <input type="text" ng-model="user.lname"/>
    </md-input-container>
    <br>
    <md-input-container>
      <label for="email">E-Mail</label>
      <input type="text" ng-model="user.email"/>
    </md-input-container>
    <br>
    <md-input-container>
      <label for="password">Password</label>
      <input type="password" ng-model="user.password"/>
    </md-input-container>
    <div layout="row" layout-align="space-around center">
      <md-button class="md-raised md-primary" type="submit" name="submit" value="Log In">Register</md-button>
    </div>
  </form>
</md-content>
