.logo-sample {
  color: white;
}

body {
  Font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
}

.background-logo {
  background-color: #AB182F;
}

.card-panel {
  padding: 20px;
}

.dialog-container {
  background-color: white;
  padding: 20px;
}

.coach-ticket {

}

.form-row {
  padding: 0px 20px 0px 20px;
}

.form-wrapper {
  min-height: 85%;
  top: 50%;
  left: 50%;
  overflow: scroll;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  z-index: 80;
}

.header {
  background-color: black;
  color: white;
}

.md-button {
  font-weight: bold;
  color: #656565;
}

._md-nav-button-text {
  color: white;
}

.session-card {
  background-color: #FFCE00;
  color: #656565;
}

.session-button {
  background-color: white;
  color: #F37629;
  border: 1px, #F37629, solid;
}

#addButton {
   display: block;
   margin: auto;
   background-repeat: no-repeat;
   display: inline-block;
   vertical-align: middle;
   fill: #F37629;;
   height: 24px;
   width: 24px;
   min-height: 24px;
   min-width: 24px;
}

#main {
  padding: 20px;
}
