.dialog-container {
  background-color: white;
  padding: 20px;
}

.header {
  background-color: black;
  color: white;
}

._md-nav-button-text {
  color: white;
}

#addButton {
   display: block;
   margin: auto;
   background-repeat: no-repeat;
   display: inline-block;
   vertical-align: middle;
   fill: currentColor;
   height: 24px;
   width: 24px;
   min-height: 24px;
   min-width: 24px;
}
