<div flex-xs="100" flex="50" class="form-wrapper">
<md-card>
  <div layout="row" layout-align="end center">
  <md-input-container class="close-button">
  <md-button class="md-fab md-primary" aria-label="Close Form" ng-click="coach.toggleForm();">
    <i class="material-icons" id="addButton">clear</i>
  </md-button>
</div>
<div ng-repeat="question in coach.ticketToComplete.questions track by $index">
  <div layout="column">
<div layout="row">
<md-input-container>
  <label>{{question}}</label>
  <input ng-model="coach.ticketToComplete.answers[question]">
</md-input-container>
</div>
</div>
</div>
<md-input-container>
<md-button class="md-fab md-primary" aria-label="Submit New Event" ng-click="coach.submitAnswers(coach.ticketToComplete.answers)">
  <i class="material-icons" id="addButton">done</i>
</md-button>
</md-input-container>
</md-card>
</div>
