<div class="_md-panel-focus-trap" tabindex="0"></div>
<div id="currentExitTicketCard" class="form-wrapper">
  <md-card class="card-panel">
    <div layout="row" layout-align="end center">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{home.currentTicket.fname}} {{home.currentTicket.lname}}</span>
          <span class="md-subhead">Session {{home.currentTicket.session_count}}, Event {{home.currentTicket.event_number}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-input-container class="close-button">
        <md-button class="md-fab md-primary" aria-label="Close Form" ng-click="home.toggleForm();">
          <i class="material-icons" id="addButton">clear</i>
        </md-button>
      </md-input-container>
    </div>
    <div layout="row" layout-align="center start" layout-sm="column" layout-xs="column">
      <div layout="column" flex="noshrink">
        <span class="md-headline">Date Submitted:</span> <span class="md-subhead">{{home.currentTicket.date_form_completed | date:'mediumDate' }} </span>
        <span class="md-headline">Facilitator:</span> <span class="md-subhead">{{home.currentTicket.facilitator}}</span>
      </div>
      <div layout="column" flex="noshrink">
        <span class="md-headline">School:</span> <span class="md-subhead">{{home.currentTicket.school}}</span>
        <span class="md-headline">Session Day:</span> <span class="md-subhead">{{home.currentTicket.day}} </span>
        <span class="md-headline">Session Time:</span> <span class="md-subhead">{{home.currentTicket.start_time}}</span>
        <span class="md-headline">Grade:</span> <span class="md-subhead">{{home.currentTicket.grade}} </span>
      </div>
    </div>
    <md-card-content>
      <span class="md-headline">Responses:</span>
      <div ng-repeat="res in home.currentTicket.response track by $index">
        <md-card-title-text>
          <span class="md-headline">Question:</span>
          </md-card-title>
          <md-card-content>
            <p>{{res.question}}</p>
          </md-card-content>
          <md-card-title-text>
            <span class="md-headline">Answer:</span>
            </md-card-title>
            <md-card-content>
              <p>{{res.answer}}</p>
            </md-card-content>
      </div>
    </md-card-content>
  </md-card>
</div>
<div class="_md-panel-focus-trap" tabindex="0"></div>
