  <md-toolbar class="md-padding header md-warn">
    <div layout="row" layout-xs="column" layout-align="space-between center" layout-align-xs="start stretch">
    <div layout="column" layout-xs="row">
    <h1 class="logo-sample"> Achieve Mpls </h1>
  </div>
  <div layout="column" layout-xs='row'>
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links"
      class = "md-warn"
      >
      <md-nav-item  md-nav-href="#home" name="home">
        View Tickets
      </md-nav-item>
      <md-nav-item md-nav-href="#adminUsers" name="users">
        Manage Users
      </md-nav-item>
      <md-nav-item md-nav-href="#forms" name="forms">
        Ticket Templates
      </md-nav-item>
      <md-nav-item md-nav-href="#sessions" name="sessions">
        Manage Sessions
      </md-nav-item>
    </md-nav-bar>
    </div>
  </div>
</md-toolbar>
