<div class="_md-panel-focus-trap" tabindex="0"></div>
<div class="form-row" layout="row" layout-align="center center" class="admin_table">
<div class="form-wrapper">
  <md-card>
    <div layout="row" layout-align="end center">
    <md-input-container class="close-button">
    <md-button class="md-fab md-primary" aria-label="Close Form" ng-click="events.toggleForm();">
      <i class="material-icons" id="addButton">clear</i>
    </md-button>
    </md-input-container>
    </div>
    <div layout="row" layout-align="space-around none">
      <div layout = "column">
      <md-input-container>
        <label>Meeting Count</label>
        <input ng-model="events.event.meeting_count">
      </md-input-container>
    </div>
    <div layout="column">
      <md-input-container>
        <label>Form</label>
        <md-select ng-model="events.event.form">
          <md-option ng-repeat="_form in events.allForms.returnedForms" value={{_form.id}}>
            {{_form.form_name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
    <div layout="row" layout-align="space-around none" class="admin_table">
      <div layout= "column">
      <md-input-container>
        <label>Date Exit-Ticket Opens</label>
        <md-datepicker ng-model="events.event.open_date"></md-datepicker>
      </md-input-container>
    </div>
    <div layout = "column">
      <md-input-container>
        <label>Date Exit-Ticket Opens</label>
        <md-datepicker ng-model="events.event.close_date"></md-datepicker>
      </md-input-container>
    </div>
  </div>
  <div class="form-row" layout="row" layout-align="space-around none" class="admin_table">
    <div layout = "row">
      <md-input-container>
      <md-button class="md-fab md-primary" aria-label="Submit New Event" ng-click="events.sendEvent(events.event); forms.closeDialog()">
        <i class="material-icons" id="addButton">done</i>
      </md-button>
      </md-input-container>
      </md-card>
    </div>
    </div>
  </md-card>
</div>
</div>
</div>
<div class="_md-panel-focus-trap" tabindex="0"></div>
