<div class="_md-panel-focus-trap" tabindex="0"></div>
<div class="form-wrapper">
    <md-card class="card-panel">
      <div layout="row" layout-align="end center">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-if="forms.editingForm">Edit Form</span>
            <span class="md-headline" ng-if="!forms.editingForm">Create New Form</span>
          </md-card-title-text>
            </md-card-title>
          <md-input-container class="close-button">
            <md-button class="md-fab  md-primary" aria-label="Close Form" ng-click="forms.toggleForm(); forms.falseForm();">
              <i class="material-icons" id="addButton">clear</i>
            </md-button>
          </md-input-container>
      </div>
      <div layout="row" layout-align="center">
        <md-input-container>
          <label>Form Name</label>
          <textarea rows="1" cols="50" ng-model="forms.prompts.form_name">{{forms.prompts.form_name}}</textarea>
        </md-input-container>
      </div>
      <div ng-repeat="question in forms.prompts.promptsArray track by $index" layout="row" layout-align="center">
        <md-input-container>
          <label>Question {{$index+1}}</label>
          <textarea rows="2" cols="50" ng-model="forms.prompts.promptsArray[$index]">{{question}}</textarea>
        </md-input-container>
      </div>
      <div layout = "row" layout-align="end center">
        <md-button class="md-fab md-primary" aria-label="Add New Form" ng-click="forms.addQuestion()">
          <i class="material-icons" id="addButton">add</i>
        </md-button>
      </div>
        <div layout = "row">
          <md-input-container>
            <md-button class="md-fab md-primary" aria-label="Submit New User" ng-click="forms.sendForm(forms.prompts); forms.closeDialog()">
              <i class="material-icons" id="addButton">done</i>
            </md-button>
          </md-input-container>
        </div>
    </md-card>
  </div>
<div class="_md-panel-focus-trap" tabindex="0"></div>
