<div class="form-wrapper">
  <md-card class="card-panel">
    <div layout="row" layout-align="end center">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" ng-if="sessions.editingSession">Edit Session</span>
          <span class="md-headline" ng-if="!sessions.editingSession">Create New Session</span>
        </md-card-title-text>
      </md-card-title>
      <md-input-container class="close-button">
        <md-button class="md-fab md-primary" aria-label="Close Form" ng-click="sessions.toggleForm(); sessions.clearFields(); sessions.falseSession()">
          <i class="material-icons" id="addButton">clear</i>
        </md-button>
      </md-input-container>
    </div>
    <div layout="row" layout-align="space-around none">
      <div layout="column">
        <md-input-container>
          <label>Session Number</label>
          <input ng-model="sessions.currentSession.session_count">
        </md-input-container>
      </div>
      <div layout="column">
        <md-input-container>
          <label>Grade</label>
          <md-select ng-model="sessions.currentSession.grade">
            <md-option ng-value="9"> 9 </md-option>
            <md-option ng-value="12"> 12 </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <div layout="row" layout-align="space-around none">
      <div layout="column">
        <md-input-container>
          <label>Facilitator</label>
          <input ng-model="sessions.currentSession.facilitator">
        </md-input-container>
      </div>
      <div layout="column">
        <md-input-container>
          <label>Day</label>
          <md-select ng-model="sessions.currentSession.day">
            <md-option ng-repeat="_day in sessions.currentSession.days" value={{_day}}>
              {{_day}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <label style="color:gray">Start Time:</label>
      <md-input-container>
        <md-select ng-model="sessions.currentSession.hours">
          <md-option ng-repeat="hour in sessions.timeDropdown.hours" aria-label="hours" value={{hour}}>{{hour}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <md-select ng-model="sessions.currentSession.minutes" aria-label="minutes">
          <md-option ng-repeat="minutes in sessions.timeDropdown.minutes" value={{minutes}}>{{minutes}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="column">
      <md-input-container>
        <label>School</label>
        <input ng-model="sessions.currentSession.school">
      </md-input-container>
    </div>
    <div ng-hide= "sessions.editingSession" layout="column">
      <md-input-container>
        <label>Events to Add</label>
        <input ng-model="sessions.currentSession.eventsToAdd">
      </md-input-container>
    </div>
    <div layout="row" layout-align="center center">
      <md-input-container>
        <md-button class="md-primary md-raised" ng-click="sessions.sendSession(sessions.currentSession)">Submit</button>
        </md-input-container>
      </div>
    </md-card>
  </div>
