<html ng-App="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Achieve MPLS App</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/vendors/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/vendors/angular-material-data-table/md-data-table.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- <link rel="stylesheet" href="vendors/angular-material/modules/js/datepicker/datepicker.css"> -->

    <!-- angular -->
    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-material-data-table/md-data-table.min.js"></script>
    <script type="text/javascript" src="vendors/moment/moment.js"></script>
    <script type="text/javascript" src="vendors/angular-moment/angular-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>


    <!-- configuration files -->
    <script type="text/javascript" src="scripts/utilities/constants.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>



    <!-- factories -->
    <script type="text/javascript" src="scripts/factories/AdminService.js"></script>
    <!-- CoachService is used in AuthService so it needs to load first -->
    <script type="text/javascript" src="scripts/factories/CoachService.js"></script>
    <script type="text/javascript" src="scripts/factories/AuthService.js"></script>


    <!-- controllers -->
    <script type="text/javascript" src="scripts/controllers/UserAuthController.js"></script>
    <script type="text/javascript" src="scripts/controllers/AdminHomeController.js"></script>
    <script type="text/javascript" src="scripts/controllers/AdminFormsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/AdminUsersController.js"></script>
    <script type="text/javascript" src="scripts/controllers/AdminSessionsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/AdminEventsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/coachController.js"></script>

  </head>
  <body>
    <div class="banner-logout" layout="row" layout-align="space-between center">
      <div layout="column">
        <img src="./views/images/achievempls-logo-white.png" flex="30">
      </div>
    </div>
    <md-content layout="row" layout-align="center center">
      <form class="login-input" ng-submit="login.loginUser(user)">
        <md-input-container>
          <label for="email">E-Mail</label>
          <input type="text" ng-model="user.email"/>
        </md-input-container>
        <br>
        <md-input-container>
          <label for="password">Password</label>
          <input type="password" ng-model="user.password"/>
        </md-input-container>
        <div layout="row" layout-align="space-around center">
          <md-button class="md-raised md-primary" type="submit" name="submit" value="Log In">Log In</md-button>
        </div>
      </form>
    </md-content>
  </body>
</html>
